.brace-img{
    width:374px !important;
    height:500px;
    object-position: left;
}

@media only screen and (max-width: 480px) {
    .brace-img{
        width:120px !important;
        height: 170px;
    }
    #bracelets{
        margin-top: -20px;
        border-top:2px solid black;
        padding-top: 10px;
    }
    
}