.insta-container{
    background-color: black;
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.insta-icon{
    
    color: white;
}

.insta-text{
    color: white;
    font-family: 'basic';
    font-size: 14px;
}

.insta-text2{
    color: white;
    font-family: 'basic';
    font-size: 11px;
}
